.app {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgoldenrod;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}